h1{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-style:double; 
    border-radius: 10px;
    border-color: coral;

}

img{
    margin: auto;  
    display: block;
    border-radius: 15px
  }

a:link {
    text-decoration: none;
}
   
a:hover {
    text-decoration: underline;
}
 
a:link {
    color: #00F;
}
   
a:hover {
    color: #F00;
}

a{
    font-size: 50px;
    padding: 46%;
}

