a:link {
    text-decoration: none;
}
   
a:hover {
    text-decoration: underline;
}
 
a:link {
    color: #00F;
}
   
a:hover {
    color: #F00;
}

img{
    background-image: url("img/recife2.png");
    background-size: 100%;  
    background-repeat: no repeat;
    background-position: center;

    
    
}


.titulo{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-style:double; 
    border-radius: 10px;
    border-color: coral;
}

img{
  margin: auto;  
  display: block;
  border-radius: 15px
} 

article{
    margin-left: 40px;
    margin-right: 40px;
    line-height: 40px;

}

li{
    text-decoration: none;
    list-style-type: none;
    display: inline;    
    padding-right: 10rem;
    color: coral   

}